/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --light: #efefef;
  --darkBackground: #101010;
  --darkText: #242424;
  --highlight: #fff;
  --midtone: #959595;
}

* {
  font-family: "Roboto", sans serif;
  color: var(--light);
  letter-spacing: 3px;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--darkBackground);
}

.row {
  margin: 0;
}

.heading {
  font-size: 1.8rem;
  color: var(--darkText);
  font-weight: 400;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  margin: 55px 0;
}

.page-section {
  padding: 34px 0;
}

.light-bg {
  background-color: var(--light);
}

/* Styles for mobile first */

/* Navbar Styles */

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--light);
}

.navbar-bg {
  background-color: var(--darkBackground);
}

.nav-item {
  padding: 0 13px;
}

/* Hero Section Styles */

.hero-section {
  background-color: var(--darkBackground);
  max-width: 100%;
  height: 650px;
}

.hero-container {
  padding: 21px 0;
}

.hero-img-container {
  overflow: hidden;
  padding: 0;
}

.hero-img {
  width: 300px;
  height: 300px;
}

.h1-container {
  height: 600px;
}

.h2-hero {
  height: 50px;
}

.hero-heading {
  font-size: 3rem;
  letter-spacing: 5px;
}

.typing {
  font-size: 1.4rem;
  letter-spacing: 5px;
  font-weight: 400;
}

/*Portfolio styles here */

.heading-underline::after {
  content: "";
  height: 1px;
  width: 10%;
  position: absolute;
  background-color: var(--midtone);
  left: calc(50% - 5%);
  bottom: 0;
}

.portfolio-container {
  padding: 21px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  width: 350px;
  height: 350px;
  overflow: hidden;
  position: relative;
  margin: 2px;
}

.portfolio-item img {
  width: 100%;
  object-fit: cover;
}

.slider-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(239, 239, 239, 0.6);
  visibility: hidden;
}

.portfolio-item:hover .slider-overlay {
  visibility: visible;
  animation: fade 0.5s;
}

.item-link {
  text-decoration: none;
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  color: var(--darkText);
  border-radius: 2px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.item-link:hover {
  color: var(--light);
  background-color: var(--darkBackground);
  transition: all ease 0.3s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Skills Section Styles here */

.icon-container {
  margin: 21px 0;
}

.skill-icon:hover {
  animation: shake 0.5s infinite;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* About Me Styles */

#about-me .heading,
#timeline .heading {
  color: var(--light);
}

.text-container {
  max-width: 90%;
}

/* Styles for Timeline Section */

ul.timeline-list {
  position: relative;
  margin: 0;
  padding: 0;
}

ul.timeline-list li {
  margin-bottom: 21px;
  position: relative;
  clear: both;
  display: table;
}

ul.timeline-list li .timeline_content {
  padding: 8px 13px;
  text-align: right;
}

ul.timeline-list li:nth-child(2n) .timeline_content {
  text-align: left;
}

/*Background color for timeline cards*/
.timeline_content {
  background-color: var(--darkText);
}

.timeline_content h4 {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0;
}

.timeline_content span {
  font-size: 18px;
  font-weight: 500;
  color: var(--light);
}

/* Contact Styles */

.contact-form {
  width:90%;
  padding-bottom: 55px;
}

.form-group {
  margin: 21px 0;
}

.form-group label {
  color: var(--darkText);
  margin-bottom: 5px;
}

.form-control {
  border: none;
  border-radius: 0;
}

.form-group input,
.form-group textarea {
  border-bottom: solid 1px var(--midtone);
  background-color: var(--light);
}

.form-control:focus,
input[type="text"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {
  border: 1px solid var(--midtone);
  box-shadow: none;
  outline: none;
  background-color: var(--light);
}

.form-group textarea {
  height: 144px;
}

.form-button input {
  margin-top: 21px;
  background-color: var(--darkText);
  color: var(--light);
  border-radius: 2px;
  border: none;
}

.form-button input:hover {
  background-color: var(--darkBackground);
  color: var(--light);
  border-radius: 2px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--light) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--light) inset !important;
}

/* Styles for screens 700px and larger */

@media screen and (min-width: 700px) {

  /* Contact Section Styles */

  .contact-form {
    width:80%;
  }

}

/* Styles for screens 900px and larger */

@media screen and (min-width: 900px) {
  /* Hero Styles */

  .hero-img {
    height: 600px;
    width: 600px;
  }

  .typing {
    font-size: 2rem;
    letter-spacing: 6px;
  }

  .hero-heading {
    font-size: 5rem;
    letter-spacing: 7px;
  }

  /*Portfolio Styles*/

  .portfolio-item {
    margin: 13px;
  }

  /*Skills Styles */

  .skill-icon {
    width: 150px;
    height: 150px;
  }

  /* About Me Styles */

  .text-container {
    max-width: 55%;
  }

  .text-container p {
    font-size: 1.2rem;
  }

  /* Timeline Styles */

  ul.timeline-list li .timeline_content {
    width: 45%;
    padding: 30px;
    float: left;
    text-align: right;
  }

  ul.timeline-list li:nth-child(2n) .timeline_content {
    float: right;
    text-align: left;
  }

  /* Vertical line for timeline*/
  ul.timeline-list:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--light);
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  /*Circle points on timeline line*/
  ul.timeline-list li:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background-color: var(--light);
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  /* Contact Section Styles */
  .contact-form {
    width: 50%;
  }

}
